<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/simpleuploader/SimpleAjaxUploader.js') }}"></script>  

    <script>
        $(document).ready(function() {

            let uploader = new ss.SimpleUpload({
                button: "upload",
                url: "{{ path('upload_file') }}",
                name: 'file', // upload parameter name die gebruikt wordt in de controller
                responseType: 'json',
                allowedExtensions: ['png', 'jpg', 'jpeg', 'pdf'],
                hoverClass: 'hover-class-upload',
                focusClass: 'hover-class-upload',
                multiple: false,
                disabledClass: 'ui-state-disabled',
                autoSubmit: true,

                onSizeError: function() {
                    alert('File may not exceed 100MB');
                },

                onExtError: function() {
                    alert('Invalid file type. Please use a PNG, JPG or JPEG or PDF file');
                },

                onSubmit: function( filename, extension, uploadBtn, fileSize ) {
                    /// Bijvoorbeeld een overlay of een spinner starten...
                    return(true);
                },

                onComplete: function (filename, response) {

                    if(response.success === false) {
                        alert(response.errors);
                    } else {

                        /// Doe iets met response.file_id (path naar de geuploade file)
                        
                    }
                }
            });

        });
    </script>
</head>     
<body>
    <div id="upload"
         style="width: 200px; height: 200px; background-color: #F00; cursor: pointer">
    </div>
</body>
